<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{name}}</h5>
                <p class="grey-text text-lighten-4">{{desc}}</p>
            </div>
            <div class="col offset-l3 l3">
                <h5 class="white-text">Institucional</h5>
                <ul>
                    <li>
                        <a class="white-text" href="/termos">Termos de uso</a>
                    </li>
                    <li>
                        <a class="white-text" href="/privacidade">Política de privacidade</a>
                    </li>
                    <li>
                        <a class="white-text" href="/contato">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright center-align">
        <div class="container">
            &copy;{{year}} {{name}} - Powered by <a class="black-text text-lighten-3" target="_blank" href="http://dezmin.com.br">Dezmin</a>
        </div>
    </div>
</footer>
